@font-face {
   font-family: "Open Sans";
   src: url("/fonts/opensanslight.woff2") format("woff2"),
   url("/fonts/opensanslight.woff") format("woff");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Open Sans";
   src: url("/fonts/opensans.woff2") format("woff2"),
   url("/fonts/opensans.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("/fonts/gilroylight.woff2") format("woff2"),
   url("/fonts/gilroylight.woff") format("woff");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("/fonts/gilroyextrabold.woff2") format("woff2"),
   url("/fonts/gilroyextrabold.woff") format("woff");
   font-weight: 800;
   font-style: normal;
}

/* глобальные стили */

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0 auto;
   padding: 40px 0 0 0;

   background-color: #ffffff;

   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 15px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2;
   letter-spacing: normal;
   text-align: left;
   color: #000000;
}

.container {
   width: 1160px;
   margin: auto;
}

a {
   text-decoration: none;
   color: #000000;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* header */

.header {
   background-color: rgba(240, 197, 46, 0.5);
   position: relative;
   padding: 35px 60px 0 60px;
   min-height: 186px;
}

.user-navigation {
   height: 49px;
   margin-bottom: 16px;
}

.header-logo {
   position: absolute;
   top: -19px;
   left: 59px;
}

.header-search-form{
   width: 441px;
   height: 49px;
   background: url(/img/search.svg) no-repeat;
   background-position: 3px;
   background-position-y: center;
   position: relative;
   margin-right: 92px;

   float: left;
}

.header-search-input {
   width: 441px;
   padding: 16px 80px 13px 38px;

   background-color: transparent;
   border: 2px solid transparent;
}

.header-search-input:focus {
   border-bottom-color: #000000;
}

.header-search-input:focus+.header-search-button {
   opacity:1;
}

.header-search-button {
   position: absolute;
   right: 0;
   top: 0;
   width: 85px;
   height: 49px;
   border: 2px solid #000;
   background-color: transparent;
   opacity: 0;

   font: inherit;
}

.header-search-button:hover,
.header-search-button:focus {
   background-color: #000000;
   color: #ffffff;
   opacity: 1;
}

.header-search-button:active {
   background-color: #000000;
   color: rgba(255, 255, 255, 0.3);
   opacity: 1;
}

.user-navigation-list {
   list-style-type: none;
   margin: 0;
   padding: 0;

   max-width: 504px;
   height: 49px;

   float: left;
}

.user-navigation-item {
   height: 49px;
}

.user-navigation-item button {
   background-color: transparent;
   border: 0;
   height: 49px;

   font: inherit;
}

.user-navigation-item a {
   display: inline-block;
   height: 49px;
   line-height: 49px;
}

.user-navigation-item button:hover,
.user-navigation-item button:focus,
.user-navigation-item a:hover,
.user-navigation-item a:focus {
   opacity: 0.6;
}

.user-navigation-item button:active,
.user-navigation-item a:active {
   opacity: 0.3;
}

.user-navigation-item.white button,
.user-navigation-cart.white a {
   color: #ffffff;
   opacity: 0.7;
}

.user-navigation-item.white button:hover,
.user-navigation-item.white button:focus,
.user-navigation-item.white a:hover,
.user-navigation-item.white a:focus {
   opacity: 1;
}
.user-navigation-item.white button:active,
.user-navigation-item.white a:active {
   opacity: 0.3;
}

.user-navigation-item button,
.user-navigation-item a {
   white-space: nowrap;
}

.user-navigation-signin {
   width: 284px;
   overflow: hidden;
}

.user-navigation-compare {
   width: 130px;
   overflow: hidden;
}

.user-navigation-cart {
   width: 90px;
   overflow: hidden;
}

.user-navigation-cart a {
   padding-left: 7px;
}

.user-navigation-signin button::before {
   content:"";
   display: inline-block;
   width: 13px;
   height: 12px;
   margin-right: 14px;
   vertical-align: baseline;
   background: url(/img/user.svg) no-repeat;
}

.user-navigation-compare button::before {
   content:"";
   display: inline-block;
   width: 10px;
   height: 10px;
   margin-right: 10px;
   vertical-align: baseline;
   background: url(/img/compare.svg) no-repeat;
}

.user-navigation-cart a::before {
   content:"";
   display: inline-block;
   width: 12px;
   height: 12px;
   margin-right: 12px;
   vertical-align: baseline;
   background: url(/img/cart.svg) no-repeat;
}

.footer {
   padding-top: 68px;
}

.user-navigation-list.white {
   float: right;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   justify-content: right;
}

.user-navigation-item.white button,
.user-navigation-item.white a {
   height: 20px;
   line-height: 20px;;
}

.flex-box.white {
   clear: both;
   width: 1160px;
   height: 49px;
   justify-content: space-between;
}

.user-navigation-signin.white {
   width: auto;
   margin-right: 30px;
}

.user-navigation-signin.white button::before {
   background: url(/img/user-yellow.svg) no-repeat;
}

.user-navigation-compare.white button::before {
   background: url(/img/compare-yellow.svg) no-repeat;
}

.user-navigation-cart.white a::before {

   background: url(/img/cart-yellow.svg) no-repeat;
}

.footer-navigation-list {
   width: 430px;
   padding: 0;
   margin: 0;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   justify-content: space-between;
}

.footer-address,
.footer-phone {
   width: 300px;
}

.footer-address p,
.footer-phone p {
   margin: 0;
   line-height: 49px;
}

.footer-phone {
   text-align: right;
}

.site-navigation {
   clear: both;
   height: 49px;
}

.site-navigation-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
   font-size: 0;
}

.site-navigation-item,
.footer-navigation-item {
   float: left;
   height: 49px;
}

.site-navigation-catalog {
   margin-right: 290px;
}

.site-navigation-catalog>a::after {
   content: "";
   display: inline-block;
   width: 16px;
   height: 16px;
   vertical-align: baseline;
   background: url(/img/plus.svg) no-repeat;
   opacity: 0.3;
}

.site-navigation-catalog:hover>.catalog-dropdown-list {
   position: absolute;
   left: 0px;
   width: 100%;
   z-index: 10;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;

   background-color: #f7e296;
}

.catalog-dropdown-list {
   padding: 40px 60px;
}

.catalog-dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-direction: normal;
  -ms-flex-direction: normal;
  flex-direction: column;
  width: 239px;
}

.catalog-dropdown-item a {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 15px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2.4;
   letter-spacing: 0.15px;
   text-align: left;
   color: #000000;
}

.site-navigation-delivery {
   margin-right: 38px;
}
.site-navigation-warranty {
   float: left;
}

.site-navigation-contacts {
   float: right;
}

.footer-navigation-list {
   list-style-type: none;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.site-navigation-item>a,
.footer-navigation-item>a {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 50px;
   letter-spacing: 3.6px;
   color: #000000;

   display: inline-block;
   width: 100%;
   height: 50px;
}

.catalog-dropdown-list {
   display: none;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
   color: rgba(0, 0, 0, 0.6);
}

.site-navigation-item a:active {
   color: rgba(0, 0, 0, 0.3);
}

.footer-navigation-item a {
   color: #ffffff;
}

.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
   opacity: 0.6;
}

.footer-navigation-item a:active {
   opacity: 0.3;
}

.footer {
   background-color: #464646;
}

.footer-first-line {
   margin-bottom: 12px;
}

.flex-box.white {
   margin-bottom: 54px;
}

.address {
   font: inherit;

   color: #ffffff;
}


.flex-box.bottom {
   justify-content: space-between;
   margin-bottom: 15px;
}

.footer-line {
   height: 7px;
   width: 80px;
   margin: auto 0;
   background-color: #ffc600;
}

.socials-list {
   list-style: none;
   width: 140px;
   margin: 0;
   padding: 0;
   justify-content: space-between;
}

.social-item-link {
   opacity: 0.3;
}

.social-item-link:hover,
.social-item-link:focus {
   opacity: 0.6;
}

.social-item-link:active {
   opacity: 0.1;
}

.htmlacademy-link-wrapper{
   width: 80px;
   text-align: right;
}

.htmlacademy-link {
   opacity: 1;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
   opacity: 0.6;
}

.htmlacademy-link:active {
   opacity: 0.3;
}

.call-us {
   font: inherit;
   text-align: right;
   color: #ffffff
}

.flex-box {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

/* контент страницы*/

.slide-header {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 47px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.19;
   letter-spacing: 0.47px;
   text-align: left;
   color: #000000;
}

.slide-description {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 15px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2;
   letter-spacing: 0.15px;
   text-align: left;
   color: #464646;

   margin-bottom: 44px;
}

.slide-properties {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   list-style: none;
   margin: 0;
   padding: 0;
}

.slide-propertie:not(:last-child) {
   margin-right: 76px;
}

.slide-propertie dt {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 36px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 0.36px;
   text-align: left;
   color: #000000;
   margin-bottom: 9px;
}

.slide-propertie dd {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 13px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.54;
   letter-spacing: 0.13px;
   text-align: left;
   color: #464646;

   margin: 0;
}

.slider-section {
   display: none;
}

.slider-container {
   position: relative;
   margin-bottom: 106px;
}

.slider-section::before {
   content: "";
   position: absolute;
   display: block;
   width: 100%;
   height: 112px;
   left: 0;
   top: 0;
   background-color: rgba(240, 197, 46, 0.5);
   z-index: -1;
}

.slide-image-container {
   width: 562px;
   height: 486px;
   margin-right: 38px;
}
.slide-image {
   display: block;
   margin:0 auto;
}

.slide-column {
   position: relative;
   width: 505px;
   overflow: hidden;
}

.slide-number {
   height: 179px;
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 179px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1;
   letter-spacing: 1.79px;
   text-align: right;
   color: #ffffff;

   position: absolute;
   top: -15px;
   right: -7px;

   z-index: -1;
}

.slide-header::before {
   content: "";
   position: absolute;
   top: 39px;
   left: 0;
   display: block;
   width: 100px;
   height: 7px;
   background-color: #ffffff;
}

.slide-header {
   margin: 0px;
   padding-top: 81px;
   margin-bottom: 20px;
}

.slide-button {
   width: 220px;
   margin-bottom: 48px;
}

/* Переключение слайдера */

.slider-radio {
   position: absolute;
}

.slider-radio::before {
   content: "";

   display: block;
   width: 12px;
   height: 12px;

   background-size: 100%;
   background-image: url(/img/slider-button-empty.svg);
}

.slider-radio:checked::before {
   background-image: url(/img/slider-button.svg);
}

.radio1 {
   right: 148px;
   bottom: 145px;
   z-index: 100;
}

.radio2 {
   right: 116px;
   bottom: 145px;
   z-index: 100;
}

.radio3 {
   right: 82px;
   bottom: 145px;
   z-index: 100;
}

#radio-slider1:checked~#slider1,
#radio-slider2:checked~#slider2,
#radio-slider3:checked~#slider3 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

/* Популярные категории */

.categories-list {
   list-style: none;
   margin-top: 0;
   margin-bottom: 84px;
   padding: 0;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;

   justify-content: space-between;
}

.category-item {
   width: 160px;
   margin-right: 40px;
}

.category-item:nth-child(6n) {
   margin-right: 0;
}

.category-item:last-child {
   margin-right: 0;
}

.category-wrapper {
   width: 160px;
   height: 160px;
   background-color: rgba(240, 197, 46, 0.5);
   margin-bottom: 36px;

   position: relative;
}

.category-item p {
   margin: 0;
}

.category-item-img {
   position: absolute;
   bottom: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, 50%);
}

/* отдельный стиль для категории моноподов */
.category-item-img.bottom-position {
   bottom: 0px;
   transform: translate(-50%, 0)
}
.category-item p {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 0.18px;
   text-align: left;
   color: #000000;
}

.category-item-link:hover .category-wrapper,
.category-item-link:focus .category-wrapper{
   background-color: rgba(240, 197, 46, 1);
}

.category-item-link:active .category-wrapper{
   background-color: rgba(240, 197, 46, 1);
}

.category-item-link:active .category-item-img{
   opacity: 0.3;
}

.category-item-link:active p {
   opacity: 0.3;
}

/* дополнительные услуги */

.services {
   background-color: #e5e5e5;
   margin-bottom: 94px;
   z-index: -10;
}

.services::before {
   content: "zxc";
   display: block;
   width: 100%;
   height: 100px;
   background-color: #ffffff;
   position: absolute;
   z-index: 1;
}

.services-flex {
   padding-bottom: 70px;
   z-index: 1;
}

.services-links {
   width: 285px;
   border-right: 7px solid #000000;
   min-height: 319px;
   margin-right: 116px;
   padding-top: 80px;
   z-index: 1;
}

.tablink {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 40px;
   letter-spacing: 3.6px;
   text-align: center;
   color: #000000;
   border: 0;
   background-color: transparent;
   text-transform: uppercase;

   display: block;
   width: 160px;
   height: 40px;

   margin-bottom: 24px;

   position: relative;
   z-index: 1;
}

.tablink::before {
   content: "";
   position: absolute;
   top: 18px;
   left: 0;
   width: 100%;
   height: 8px;
   background-color: #f0c52e;
   z-index: -1;
}

.tablink:not(.tablink-active):hover::before {
   top: 0;
   height: 40px;
}

.tablink-active {
   color: #f7e184;
}

.tablink-active::before {
   top: 0;
   width: 278px;
   height: 40px;
   background-color: #000000;
}

.services-tabs {
   width: 760px;
   position: relative;
   z-index: 1;
}

.tab-content {
   display: none;
   width: 760px;
   padding-top: 72px;
}

.tab-content h3 {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 47px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.02;
   letter-spacing: 0.47px;
   text-align: left;
   color: #000000;

   margin-top: 0;
   margin-bottom: 33px;
}

.tab-content p {
   width: 426px;
   font: inherit;
   color: #464646;
}

.tab-dilavery::before {
   content: "";
   display: block;
   width: 136px;
   height: 164px;
   position: absolute;
   top: 85px;
   right: 66px;
   background-image: url(/img/delivery.svg);
}

.tab-warranty::before {
   content: "";
   display: block;
   width: 171px;
   height: 194px;
   position: absolute;
   top: 85px;
   right: 66px;
   background-image: url(/img/warranty.svg);
}

.tab-credit::before {
   content: "";
   display: block;
   width: 156px;
   height: 186px;
   position: absolute;
   top: 85px;
   right: 66px;
   background-image: url(/img/credit.svg);
}

/* список брендов */

.brands {
   list-style: none;
   margin-top: 0;
   margin-bottom: 62px;
   padding: 0;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   justify-content: space-between;
}

.brand-item{
   display: block;
   width: 260px;
   height: 100px;
   background-repeat: no-repeat;
}

.brand-item:hover img,
.brand-iten:focus img{
   display: none;
}

.dji:hover,
.dji:focus {
   background-image: url(/img/logo-1c.png);
}

.spgadgets:hover,
.spgadgets:focus {
   background-image: url(/img/logo-2c.png);
}

.gopro:hover,
.gopro:focus {
   background-image: url(/img/logo-3c.png);
}

.vive:hover,
.vive:focus {
   background-image: url(/img/logo-4c.png);
}

/* О нас */

.about {
   position: relative;
   width: 560px;
   min-height: 573px;
   padding-bottom: 60px;
}

.about::before {
   display: block;
   content: "";
   width: 80px;
   height: 7px;
   margin-bottom: 47px;
   background-color: #000000;
}

.about-contacts {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   justify-content: space-between;
   margin-bottom: 50px;
}

.about h2 {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 47px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.02;
   letter-spacing: 0.47px;
   text-align: left;
   color: #000000;
   margin: 0;
   margin-bottom: 42px;
}

.about p {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 15px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2;
   letter-spacing: normal;
   text-align: left;
   color: #464646;
   margin-bottom: 30px;
}

.about-list {
   margin-right: 0;
   padding-left: 0;
   margin-top: 65px;

   list-style-type: none;
}

.about-item {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 2.5;
   letter-spacing: normal;
   text-align: left;
   color: #000000;
   padding-left: 37px;
   position: relative;
}

.about-item::before {
   content: "";
   position: absolute;
   top: 17px;
   left: 0;
   display: block;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   border: 2px solid #e5e5e5;
}

.about-button {
   width: 260px;
   height: 40px;
   display: block;
   position: absolute;
   left: 20px;
   bottom: 0px;
   text-transform: uppercase;
   cursor: pointer;
}

.about-us  {
   padding-right:85px;
}

.about-map {
   width: 560px;
   height: 220px;
   background-color: #eeeeee;
   margin-top: 40px;
}

.about-button,
.slide-button,
.filters-button,
.goods-button,
.send-button,
.header-search-button,
.user-navigation-item>button {
   cursor: pointer;
}


.yellow-transition {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 40px;
   letter-spacing: 3.6px;
   text-align: center;
   color: #000000;
   text-transform: uppercase;

   display: block;
   width: 220px;
   height: 40px;

   position: relative;

   border: none;
   background-color: transparent;

   z-index: 2;
}

.about-button {
   width: 260px;
   height: 40px;
   display: block;
   position: absolute;
   left: 0px;
   bottom: 0px;
   margin-top: 70px;
}

.yellow-transition::before{
   content: "";
   position: absolute;
   top: 16px;
   left: 0;
   width: 100%;
   height: 8px;
   background-color: #f0c52e;
   z-index: -1;
}

.yellow-transition:hover::before,
.yellow-transition:focus::before {
   top: 0;
   height: 40px;
   z-index: -1;
}

.yellow-transition:active::before {
   color: rgba(0, 0, 0, 0.3);
   z-index: -1;
}

/* написать нам*/

.write-us-modal {
   display: none;

   position: relative;
   width: 960px;
   height: 553px;
   margin: auto;
   padding: 80px 100px 80px 100px;
   box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.write-as-modal-label {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 2.3;
   letter-spacing: normal;
   text-align: left;
   color: #000000;
   display: block;

   margin-bottom: 25px;
}

.write-as-modal-label input,
.write-as-modal-label textarea {
   display: block;
   background-color: #e5e5e5;
   opacity: 0.5;
   padding: 19px 20px;
}

.write-as-modal-label input {
   width: 360px;
   height: 50px;

   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.29;
   letter-spacing: normal;
   text-align: left;
   color: rgba(70, 70, 70);
}

.write-as-modal-label textarea {
   width: 100%;
   height: 156px;

   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.29;
   letter-spacing: normal;
   text-align: left;
   color: rgba(70, 70, 70);

   margin-bottom: 50px;
}

.write-as-modal-label.name {
   float: left;
}

.write-as-modal-label.email {
   float: right;
}

.write-as-modal-label.body {
   clear: both;
}

.write-as-modal-submit {
   background-color: transparent;
   border: 0;
   text-transform: uppercase;
}

/* Карта */

.map-modal {
   display: none;

   position: relative;
   width: 960px;
   height: 559px;
   margin: auto;
   box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.close-modal-button {
   position: absolute;
   right: 22px;
   top: 22px;
   opacity: 0.5;
}

.close-modal-button:hover,
.close-modal-button:focus {
   opacity: 1;
}

.close-modal-button:active {
   opacity: 0.3;
}

/* стилизация страницы каталога товаров */

.catalog-header {
   margin-left: 61px;
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 47px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.02;
   letter-spacing: 0.47px;
   text-align: left;
   color: #000000;
}

.breadcrumbs-list {
   list-style-type: none;
   margin-left: 61px;
   padding: 0;
}

.breadcrumbs-item {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 14px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.71;
   letter-spacing: 0.14px;
   text-align: left;
   color: rgba(0, 0, 0, 0.3);

   position: relative;
   margin-right: 39px;
}

.breadcrumbs-item:not(:last-child)::after {
   content: "";
   display: block;
   width: 4px;
   height: 7px;
   position: absolute;
   top: 9px;
   right: -19px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs-item a {
   color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
   color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active {
   color: rgba(0, 0, 0, 0.1);
}

.catalog {
   overflow: hidden;
}

/* стилизация чекбоксов фильтров*/

.filters {
   flex: none;
   width: 327px;
}

.filters {
   position: relative;
}

.filters::before,
.filters::after {
   content: "";
   width: 100vw;
   position: absolute;
   top: 0;
   right: 0;
}

.filters::before {
   height: 100%;
   background-color: #ebebeb;
   z-index: -1;
}

.filters::after {
   min-height: 71px;
   background-color: #d9d9d9;
   z-index: -1;
}

.filters-form{
   padding-top: 69px;
}

.filters-header {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 71px;
   letter-spacing: 3.2px;
   text-align: left;
   color: #000000;

   margin: 0;

   display: block;
   height: 71px;
   text-transform: uppercase;
   text-align: center;
   /*background-color: #d9d9d9;*/
}

.cost-filters,
.color-filters,
.bluetooth-filters {
   position: relative;
   border: none;
   margin-bottom: 41px;
}

.cost-filters legend,
.color-filters legend,
.bluetooth-filters legend {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 0.18px;
   text-align: left;
   color: #000000;
}

.cost-filters legend::before,
.color-filters legend::before,
.bluetooth-filters legend::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 201px;
   height: 2px;
   background-color: #000000;
}

/* стилизация фильтра цены */
.cost-range-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.cost-range-controls {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   position: relative;
   min-height: 22px;
   border-radius: 5px;
   max-width: 196px;
}

.cost-range-scale {
   height: 2px;
   background-color: #dbdbdb;
}

.cost-range-bar {
   height: 2px;
   background-color: #91c92f;
}

.cost-range-toggle {
   width: 20px;
   height: 20px;
   padding: 0;
   background: #ababab;
   border: 8px solid white;
   border-radius: 50%;
   position: absolute;
   top: 0;
   cursor: pointer;
   -webkit-box-shadow: 0 2px 0 0 #cfcfcf;
   box-shadow: 0 2px 0 0 #cfcfcf;
}

.cost-range-toggle:active {
   width: 22px;
   height: 22px;
   border: 9px solid white;
   top: -1px;
}

.cost-min-toggle {
   left: -5px;
}

.cost-max-toggle {
   left: 107px;
}

.cost-range-price {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: start;
}

.cost-range-price label {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   font-size: 14px;
   margin-top: -2px;
   color: rgba(0, 0, 0, 0.2);
}

.cost-range-price input {
   border: none;
   margin-left: 3px;
   background: transparent;
   max-width: 60px;
   font-size: 14px;
   font-weight: 300;
   color: rgba(0, 0, 0, 0.2);
}

.cost-min-price {
   margin-right: 12px;
}

/* фильтры цвета и bluetooth */

.filter {
   list-style-type: none;
}

.filter>li {
   margin-bottom: 5px;
}

.filter-checkbox+label {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 14px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2.86;
   letter-spacing: 0.14px;
   text-align: left;
   color: #000000;
}

.filter-checkbox+label::before {
   content: "";
   display: inline-block;
   width: 27px;
   height: 23px;
   margin-right: 15px;
   vertical-align: middle;
}

.filter-checkbox:not(:active):not(:checked)+label::before {
   background: url(/img/checkbox-off.svg) no-repeat;
}

.filter-checkbox:not(:active):checked+label::before {
   background: url(/img/checkbox-on.svg) no-repeat;
}

.filter-checkbox:active:not(:checked)+label::before {
   background: url(/img/checkbox-on.svg) no-repeat;
   opacity: 1;
}

.filter-checkbox:active:checked+label::before {
   background: url(/img/checkbox-off.svg) no-repeat;
   opacity: 1;
}

.filter-checkbox+label:hover::before,
.filter-checkbox:focus+label::before {
   opacity: 0.6;
}

.filter-checkbox:disabled+label {
   color:#a6a6a6;
}

.filter-checkbox:disabled+label::before,
.filter-checkbox:disabled:active+label::before {
   opacity: 0.25;
}

.filter-checkbox:disabled:checked+label::before {
   background: url(/img/checkbox-on.svg) no-repeat;
}

.filter-checkbox:disabled:not(:checked)+label::before {
   background: url(/img/checkbox-off.svg) no-repeat;
}

/* стилизация радио кнопок */

.filter-radio+label {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 14px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2.86;
   letter-spacing: 0.14px;
   text-align: left;
   color: #000000;
}

.filter-radio+label::before {
   content: "";
   display: inline-block;
   width: 30px;
   height: 27px;
   margin-right: 13px;
   vertical-align: middle;
}

.filter-radio:not(:active):not(:checked)+label::before {
   background: url(/img/radio-off.svg) no-repeat;
}

.filter-radio:not(:active):checked+label::before {
   background: url(/img/radio-on.svg) no-repeat;
}

.filter-radio:active:not(:checked)+label::before {
   background: url(/img/radio-on.svg) no-repeat;
   opacity: 1;
}

.filter-radio:active:checked+label::before {
   background: url(/img/radio-off.svg) no-repeat;
   opacity: 1;
}

.filter-radio+label:hover::before,
.filter-radio:focus+label::before {
   opacity: 0.6;
}

.filter-radio:disabled+label {
   color:#a6a6a6;
}

.filter-radio:disabled+label::before,
.filter-radio:disabled:active+label::before {
   opacity: 0.25;
}

.filter-radio:disabled:checked+label::before {
   background: url(/img/radio-on.svg) no-repeat;
}

.filter-radio:disabled:not(:checked)+label::before {
   background: url(/img/radio-off.svg) no-repeat;
}

/* список товаров */

.goods-sorting {
   position: relative;
}

.goods-sorting::after {
   content: "";
   width: 100vw;
   min-height: 100%;
   position: absolute;
   left: 0;
   top: 0;

   background-color: #ebebeb;

   z-index: -1;
}

.goods-sorting {
   justify-content: space-between;
   flex-wrap: wrap;
}

.goods-sorting-header {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 71px;
   letter-spacing: 3.2px;
   text-align: left;
   color: #000000;

   margin: 0 35px 0 73px;

   display: block;
   height: 71px;
   text-transform: uppercase;
}

.goods-sorting-list {
   list-style: none;
   margin: 0;
   padding: 0;
   max-width: 500px;
   flex-wrap: wrap;
}

.goods-sorting-button {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 71px;
   letter-spacing: normal;
   text-align: left;
   color: #000000;
   opacity: 0.3;

   display: inline-block;
   padding: 0 15px;

   border: 0;
   background-color: transparent;
}

.goods-sorting-button:not(.active):hover {
   opacity: 0.6;
}

.goods-sorting-button:not(.active):focus,
.goods-sorting-button:not(.active):active {
   opacity: 1;
}
.goods-sorting-up-down {
   margin-left: auto;
}

.goods-sorting-button-up,
.goods-sorting-button-down {
   border: 0;
   background-color: transparent;

   display: inline-block;
   height: 71px;
   line-height: 71px;
   opacity: 0.2;

   padding: 0 10px;
}

.goods-sorting-button-down {
   padding-right: 0;
}

.goods-sorting-button-up::before {
   content: "";
   display: inline-block;
   width: 11px;
   height: 10px;
   vertical-align: middle;
   background: url(/img/icon-up-dir.svg) no-repeat;
}

.goods-sorting-button-down::before {
   content: "";
   display: inline-block;
   width: 11px;
   height: 10px;
   vertical-align: middle;
   background: url(/img/icon-down-dir.svg) no-repeat;
}

.goods-sorting-button-up:not(.active):hover,
.goods-sorting-button-down:not(.active):hover {
   opacity: 0.4;
}

.goods-sorting-button-up:not(.active):active,
.goods-sorting-button-down:not(.active):focus,
.goods-sorting-button-up:not(.active):active,
.goods-sorting-button-down:not(.active):focus {
   opacity: 1;
}

/* список товаров */

.goods-list {
   padding-top: 69px;
   padding-left: 73px;
   background-color: #ffffff;
   justify-content: space-between;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   width: 833px;
}

.goods-item {
   width: 360px;
   margin-bottom: 50px;

   position: relative;
}

.goods-item p {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 0.18px;
   text-align: left;
   color: #000000;
}

.goods-item+span {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: 0.16px;
   text-align: right;
   color: #464646;
}

.goods-item-hover-block {
   display: none;
   position: absolute;

   left: 0;
   top: 0;

   width: 360px;
   height: 380px;

   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   background-color: rgba(238, 238, 238, 0.7);
}

.goods-item:hover>.goods-item-hover-block {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.goods-item-hover-button {
   width: 200px;
   margin-top: 40px;
   margin-bottom: 10px;
}

.goods-item-hover-link {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 13px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2.77;
   letter-spacing: 0.13px;
   text-align: center;
   color: rgba(0, 0, 0, 0.5);
}

.goods-item-hover-link:hover,
.goods-item-hover-link:focus {
   color: #000000;
}

.goods-item-hover-link:active {
   color: rgba(0, 0, 0, 0.2);
}

.goods-item-description {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
}

.goods-item-description a {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.33;
   letter-spacing: 0.18px;
   color: #000000;
   margin: 0;
}

.goods-item-description>span {
   width: 100px;
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: 1.5;
   letter-spacing: 0.16px;
   text-align: right;
   color: #464646;
   -ms-flex-negative: 0;
   flex-shrink: 0;
}

.nobr {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.33;
   letter-spacing: 0.18px;
   color: #000000;
   margin: 0;

   white-space: nowrap;
}

/* пагинация */

.goods-pagination {
   padding: 0;
   height: 70px;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;



   margin-bottom: 77px;
   margin-left: 73px;

   background-color: #ebebeb;
}

.pagination-button {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 70px;
   letter-spacing: 3.2px;
   text-align: left;
   color: #000000;
   padding: 0 30px;
   text-transform: uppercase;

   border: 0;
   background-color: transparent;
}

.pagination-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.pagination-button:hover {
   background-color: #d9d9d9;
}

.pagination-button:active,
.pagination-button:focus {
   color: rgba(0, 0, 0, 0.3);
   background-color: #d9d9d9;
}

.pagination-button-list {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 70px;
   letter-spacing: 3.2px;
   text-align: left;

   color: #000000;
   opacity: 0.3;

   display: inline-block;
   height: 100%;
   padding: 0 15px;

   border: 0;
   background-color: transparent;
}

.active {
   opacity: 1;
}





.test1 {
   background-color: rgb(102, 65, 93);
}
.test2 {
   background-color: rgb(73, 65, 102);
}

*, *::after, *::before {
   outline-style: dashed;
   outline-color: darkorange;
   outline-width: 1px;
}
/*
body {
   background-color: #555555;
}
