@font-face {
   font-family: "Open Sans";
   src: url("/fonts/opensanslight.woff2") format("woff2"),
   url("/fonts/opensanslight.woff") format("woff");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Open Sans";
   src: url("/fonts/opensans.woff2") format("woff2"),
   url("/fonts/opensans.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("/fonts/gilroylight.woff2") format("woff2"),
   url("/fonts/gilroylight.woff") format("woff");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("/fonts/gilroyextrabold.woff2") format("woff2"),
   url("/fonts/gilroyextrabold.woff") format("woff");
   font-weight: 800;
   font-style: normal;
}

/* глобальные стили */

html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
   margin: 0 auto;
   padding: 40px 0 0 0;

   background-color: #ffffff;

   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 15px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2;
   letter-spacing: normal;
   text-align: left;
   color: #000000;
}

.container {
   width: 1160px;
   margin: auto;
}

a {
   text-decoration: none;
   color: #000000;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/* header */

.header {
   background-color: rgba(240, 197, 46, 0.5);
   position: relative;
   padding: 35px 61px 0 62px;
}

.header-logo {
   position: absolute;
   top: -19px;
   left: 59px;
}

.header-search-form{
   width: 441px;
   height: 49px;
   background: url(/img/search.svg) no-repeat;
   background-position-y: center;
   position: relative;
}

.header-search-input {
   width: 441px;
   padding: 16px 80px 13px 38px;

   background-color: transparent;
   border: 2px solid transparent;
}

.header-search-input:focus {
   border-bottom-color: #000000;
}

.header-search-input:focus+.header-search-button {
   opacity:1;
}

.header-search-button {
   position: absolute;
   right: 0;
   top: 0;
   width: 85px;
   height: 49px;
   border: 2px solid #000;
   background-color: transparent;
   opacity: 0;

   font: inherit;
}

.header-search-button:hover,
.header-search-button:focus {
   background-color: #000000;
   color: #ffffff;
   opacity: 1;
}

.header-search-button:active {
   background-color: #000000;
   color: rgba(255, 255, 255, 0.3);
   opacity: 1;
}

.user-navigation-list {
   list-style-type: none;
   display: flex;
}

.user-navigation-item button {
   background-color: transparent;
   border: 0;

   font: inherit;
}

.user-navigation-item button:hover,
.user-navigation-item button:focus,
.user-navigation-item a:hover,
.user-navigation-item a:focus {
   opacity: 0.6;
}

.user-navigation-item button:active,
.user-navigation-item a:active {
   opacity: 0.3;
}

.user-navigation-item.white button,
.user-navigation-cart.white a {
   color: #ffffff;
   opacity: 0.7;
}

.user-navigation-item.white button:hover,
.user-navigation-item.white button:focus,
.user-navigation-item.white a:hover,
.user-navigation-item.white a:focus {
   opacity: 1;
}
.user-navigation-item.white button:active,
.user-navigation-item.white a:active {
   opacity: 0.3;
}

.site-navigation-list,
.footer-navigation-list {
   list-style-type: none;
   display: flex;
}

.site-navigation-item a,
.footer-navigation-item a {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 24px;
   letter-spacing: 3.6px;
   color: #000000;
}

.plus{
   opacity: 0.3;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus,
.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
   opacity: 0.6;
}

.site-navigation-item a:active,
.footer-navigation-item a:active {
   opacity: 0.3;
}

.footer-navigation-item a {
   color: #ffffff;
}

.footer {
   background-color: #464646;
}

.address {
   font: inherit;

   color: #ffffff;
}

.socials-list {
   list-style: none;
   margin: 0;
   padding: 0;
}

.social-item-link {
   opacity: 0.3;
}

.social-item-link:hover,
.social-item-link:focus {
   opacity: 0.6;
}

.social-item-link:active {
   opacity: 0.1;
}

.htmlacademy-link {
   opacity: 1;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
   opacity: 0.6;
}

.htmlacademy-link:active {
   opacity: 0.3;
}

.call-us {
   font: inherit;
   text-align: right;
   color: #ffffff
}

.flex-box {
   display: flex;
}

/* контент страницы*/
.slide-header {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 47px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.19;
   letter-spacing: 0.47px;
   text-align: left;
   color: #000000;
}

.slide-description {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 15px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2;
   letter-spacing: 0.15px;
   text-align: left;
   color: #464646;
}

.slide-properties {
   list-style: none;
   margin: 0;
   padding: 0;
}

.slide-propertie {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 36px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 0.36px;
   text-align: left;
   color: #000000;
}

.slide-propertie span{
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 13px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.54;
   letter-spacing: 0.13px;
   text-align: left;
   color: #464646;
}

/* Популярные категории */
.categories-list {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
}

.category-item {
   width: 160px;
}

.category-wrapper {
   width: 160px;
   height: 160px;
   background-color: rgba(240, 197, 46, 0.5);

   position: relative;
}

.category-item-img {
   margin: auto;
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
}

.category-item p {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 0.18px;
   text-align: left;
   color: #000000;
}

.category-item-link:hover .category-wrapper,
.category-item-link:focus .category-wrapper{
   background-color: rgba(240, 197, 46, 1);
}

.category-item-link:active .category-wrapper{
   background-color: rgba(240, 197, 46, 1);
}

.category-item-link:active .category-item-img{
   opacity: 0.3;
}

.category-item-link:active p {
   opacity: 0.3;
}
/* дополнительные услуги */

.services {
   background-color: #e5e5e5;
   position: relative;
}

.services-tab {
   display: none;
}
.services-tab+label {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: 3.6px;
   text-align: center;
   color: #000000;
}

.services-content {
   display: none;
}

.services-content h3 {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 47px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.02;
   letter-spacing: 0.47px;
   text-align: left;
   color: #000000;
}

.services-content p {
   font: inherit;
   color: #464646;
}

#services-tab1:checked~#services-tab1-content,
#services-tab2:checked~#services-tab2-content,
#services-tab3:checked~#services-tab3-content {
   display: block;
}

/* список брендов */

.brands {
   list-style: none;
   margin: 0;
   padding: 0;

   display: flex;
   justify-content: space-between;
}

.brand-item{
   display: block;
   width: 260px;
   height: 100px;
   background-repeat: no-repeat;
}

.brand-item:hover img,
.brand-iten:focus img{
   display: none;
}

.dji:hover,
.dji:focus {
   background-image: url(/img/logo-1c.png);
}

.spgadgets:hover,
.spgadgets:focus {
   background-image: url(/img/logo-2c.png);
}

.gopro:hover,
.gopro:focus {
   background-image: url(/img/logo-3c.png);
}

.vive:hover,
.vive:focus {
   background-image: url(/img/logo-4c.png);
}

/* О нас */

.about-contacts {
   display: flex;
   justify-content: space-between;
}

.about h2 {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 47px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.02;
   letter-spacing: 0.47px;
   text-align: left;
   color: #000000;
}

.about p {
   font: inherit;
   color: #464646;
}

.about ul li {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.about-button,
.slide-button,
.filters-button,
.goods-button,
.send-button {

}

.yellow-transition {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 3.6px;
   text-align: center;
   color: #000000;

   border: none;
   background-color: transparent;
}

.yellow-transition:hover,
.yellow-transition:focus {
   color: #000000;
}

.yellow-transition:active {
   color: rgba(0, 0, 0, 0.3);
}

/* Карта */

/* стилизация страницы каталога товаров */

.catalog-header {
   margin-left: 61px;
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 47px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.02;
   letter-spacing: 0.47px;
   text-align: left;
   color: #000000;
}

.breadcrumbs-list {
   list-style-type: none;
   margin-left: 61px;
   padding: 0;
}

.breadcrumbs-item {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 14px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.71;
   letter-spacing: 0.14px;
   text-align: left;
   color: rgba(0, 0, 0, 0.3);

   position: relative;
   margin-right: 39px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  position: absolute;
  top: 9px;
  right: -19px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs-item a {
   color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
   color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active {
   color: rgba(0, 0, 0, 0.1);
}

.catalog {
   background-color: #ebebeb;
}

/* стилизация чекбоксов фильтров*/
.filters {
   flex: none;
   width: 327px;
}

.filters-form{
   padding-top: 69px;
}

.filters-header {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 71px;
   letter-spacing: 3.2px;
   text-align: left;
   color: #000000;

   margin: 0;

   display: block;
   height: 71px;
   text-transform: uppercase;
   text-align: center;
   background-color: #d9d9d9;
}

.cost-filters,
.color-filters,
.bluetooth-filters {
   position: relative;
   border: none;
   margin-bottom: 41px;
}

.cost-filters legend,
.color-filters legend,
.bluetooth-filters legend {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 0.18px;
   text-align: left;
   color: #000000;
}

.cost-filters legend::before,
.color-filters legend::before,
.bluetooth-filters legend::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 201px;
   height: 2px;
   background-color: #000;
}

.filter {
   list-style-type: none;
}

.filter>li {
   margin-bottom: 5px;
}

.filter-checkbox {
   display: none;
}

.filter-checkbox+label {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 14px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2.86;
   letter-spacing: 0.14px;
   text-align: left;
   color: #000000;
}

.filter-checkbox+label::before {
   content: "";
   display: inline-block;
   width: 27px;
   height: 23px;
   margin-right: 15px;
   vertical-align: middle;
}

.filter-checkbox:not(:active):not(:checked)+label::before {
   background: url(/img/checkbox-off.svg) no-repeat;
}

.filter-checkbox:not(:active):checked+label::before {
   background: url(/img/checkbox-on.svg) no-repeat;
}

.filter-checkbox:active:not(:checked)+label::before {
   background: url(/img/checkbox-on.svg) no-repeat;
   opacity: 1;
}

.filter-checkbox:active:checked+label::before {
   background: url(/img/checkbox-off.svg) no-repeat;
   opacity: 1;
}

.filter-checkbox+label:hover::before {
   opacity: 0.6;
}

.filter-checkbox:disabled+label {
   color:#a6a6a6;
}

.filter-checkbox:disabled+label::before,
.filter-checkbox:disabled:active+label::before {
   opacity: 0.25;
}

.filter-checkbox:disabled:checked+label::before {
   background: url(/img/checkbox-on.svg) no-repeat;
}

.filter-checkbox:disabled:not(:checked)+label::before {
   background: url(/img/checkbox-off.svg) no-repeat;
}


/* стилизация радио фильтров*/

.filter>li {
   margin-bottom: 5px;
}

.filter-radio {
   display: none;
}

.filter-radio+label {
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 14px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 2.86;
   letter-spacing: 0.14px;
   text-align: left;
   color: #000000;
}

.filter-radio+label::before {
   content: "";
   display: inline-block;
   width: 30px;
   height: 27px;
   margin-right: 13px;
   vertical-align: middle;
}

.filter-radio:not(:active):not(:checked)+label::before {
   background: url(/img/radio-off.svg) no-repeat;
}

.filter-radio:not(:active):checked+label::before {
   background: url(/img/radio-on.svg) no-repeat;
}

.filter-radio:active:not(:checked)+label::before {
   background: url(/img/radio-on.svg) no-repeat;
   opacity: 1;
}

.filter-radio:active:checked+label::before {
   background: url(/img/radio-off.svg) no-repeat;
   opacity: 1;
}

.filter-radio+label:hover::before {
   opacity: 0.6;
}

.filter-radio:disabled+label {
   color:#a6a6a6;
}

.filter-radio:disabled+label::before,
.filter-radio:disabled:active+label::before {
   opacity: 0.25;
}

.filter-radio:disabled:checked+label::before {
   background: url(/img/radio-on.svg) no-repeat;
}

.filter-radio:disabled:not(:checked)+label::before {
   background: url(/img/radio-off.svg) no-repeat;
}

/* список товаров */

.goods-sorting {
   justify-content: space-between;
}

.goods-sorting-header {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 71px;
   letter-spacing: 3.2px;
   text-align: left;
   color: #000000;

   margin: 0 0 0 73px;

   display: block;
   height: 71px;
   text-transform: uppercase;
}

.goods-sorting-list {
   list-style: none;
   margin: 0;
}

.goods-sorting-button {
   height: 71px;

   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.29;
   letter-spacing: normal;
   text-align: left;
   color: #000000;
   opacity: 0.3;

   border: 0;
   background-color: transparent;
}

.goods-sorting-button:hover {
   opacity: 0.6;
}

.goods-sorting-button:focus,
.goods-sorting-button:active {
   opacity: 1;
}

.sort-up,
.sort-down {
   width: 0;
   height: 0;
   border: 7px solid transparent;
   display: block;
   margin: auto;
}

.sort-up {
   border-bottom: 10px solid #000000;
   margin-top: -7px;
}

.sort-down {
   border-top: 10px solid #000000;
   margin-top: 8px;
}

.goods-sorting-button-updown {
   border: 0;
   background-color: transparent;

   opacity: 0.2;
}

.goods-sorting-button-updown:hover {
   opacity: 0.4;
}

.goods-sorting-button-updown:active,
.goods-sorting-button-updown:focus {
   opacity: 1;
}

/* список товаров */

.goods-list {
   padding-top: 69px;
   padding-left: 73px;
   background-color: #ffffff;
   flex-wrap: wrap;
   justify-content: space-between;
}

.goods-item p {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 18px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 0.18px;
   text-align: left;
   color: #000000;
}

.goods-item span {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: 0.16px;
   text-align: right;
   color: #464646;
}

/* пагинация */

.goods-pagination {
   padding: 0 0 0 73px;
   height: 70px;
   justify-content: space-between;
}

.pagination-button {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: 3.2px;
   text-align: left;
   color: #000000;
   padding: 0 30px;

   border: 0;
   background-color: transparent;
}

.pagination-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.pagination-button:hover {
   background-color: #d9d9d9;
}

.pagination-button:active,
.pagination-button:focus {
   color: rgba(0, 0, 0, 0.3);
   background-color: #d9d9d9;
}

.pagination-button-list {
   font-family: "Gilroy", "Tahoma", sans-serif;
   font-size: 16px;
   font-weight: 800;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: 3.2px;
   text-align: left;
   color: rgba(0, 0, 0, 0.3);

   height: 70px;
   padding: 0 15px;

   border: 0;
   background-color: transparent;
}

.pagination-button-list.active {
   color: #000000;
}


